.contact {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: right;
  float: right;
  margin-top: 1rem;
  color: $color-dark-green;
  text-decoration: none;
  &--item {
    font-size: 2rem;
    padding: 4rem;

    &__text {
      color: $color-dark-green;
      text-decoration: none;

      &:hover {
        color: $color-dark-green;
      }
      &:active {
        color: $color-dark-green;
      }
    }
  }
}

.info--container {
  display: flex;
  justify-content: center;
  margin-top: 14rem;
  opacity: 0.9;
  backface-visibility: hidden;

  margin-bottom: 1rem;
}

.social--container {
  display: flex;
  justify-content: center;
  padding: 3rem;

  &__item {
    padding: 4rem;
    transform: scale(0.4);
    &:hover {
      transform: translateY(0.1rem);
    }
    &:active {
      transform: translateY(-0.1rem);
    }
  }
}
