.portfolio--container {
  @include header-container;

  &__item {
    @include left--line--item;
  }

  &__text {
    @include text;
  }
}

.row {
  @include row;
  @include clearfix;

  [class^="col-"] {
    float: left;
  }
  .col-1-of-3 {
    @include col-1-of-3;
    &--container {
      @include column-container;

      &--item {
        @include column-container-item;
      }
    }
  }

  .col-2-of-3 {
    @include col-2-of-3;

    &--container {
      @include col-2-of-3-container;
    }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10rem;
  overflow: hidden;
}

li {
  display: block;
  color: $color-light-purple;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 2rem;
}

.project--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 6rem;
  &--item {
    @include image_size;
    padding: 5rem 6rem 4rem 10rem;
  }

  &--item1 {
    @include image_size;
    padding: 3rem 6rem 3rem 10rem;
  }
}

[class^="img__"] {
  border: none;
  border-radius: 4px;
  padding: 5px;
  width: 20rem;
  position: relative;
  transition: all 1s;
  height: 140px;

  &:hover {
    transform: scale(2.5);
    opacity: 1;
    position: absolute;
    z-index: 1;
  }
}

.caption {
  float: right;
  font-size: $catergories;
  color: $color-dark-green;
  font-weight: bold;

  animation: tik 3s ease-in-out infinite;
}

@keyframes tik {
  0% {
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    transform: translate(0);
  }
}
