//color

$color-base: #9f709f;
$color-dark-green: #314758;
$color-light-purple: #e5cedb;
$color-dark-purple: #8779a1;
$color-darker-purple: #2c2437;
$color-white: #fff;

//font-size
$title: 8rem;
$substitle: 5rem;
$catergories: 2.5rem;

//font-weight
$thin: 80;
$regular: 100;
